---
layout: default
---

  <section class="intro">
    <h1 class="title">A&nbsp;Practical&nbsp;Guide to&nbsp;Standard&nbsp;Directories for&nbsp;Software&nbsp;Developers</h1>
  </section>
  <section class="guide">
    <article>
      <h2 class="claim">Applications should be good citizens on the platforms they run on:</h2>
      <p>This means that applications should follow the operating systems' rules regarding the location of configuration, cache files and other application data.</p>
      <p>This in turn allows vastly simplified management of our data:</p>
      <ul>
        <li>Easily moving between different machines, carrying your configuration with you.</li>
        <li>Backing up all crucial files, without the needless copying of caches.</li>
        <li>Evicting caches with the assurance that no critical data is lost.</li>
      </ul>
      <br/>
      <p>But as each operating system invented its own set of rules, this is easier said than done.</p>
      <br/>
      <p>This website provides resources intended to encourage and help applications to adhere to the standards of the operating system they are running on.</p>
    </article>
  </section>
  <button class="platform platform--linux" onclick="showDetail('linux')"><span>Linux</span></button>
  <button class="platform platform--windows" onclick="showDetail('windows')"><span>Windows</span></button>
  <button class="platform platform--macos" onclick="showDetail('macos')"><span>macOS</span></button>
  <button class="platform platform--redox" onclick="showDetail('redox')"><span>Redox</span></button>
  <section class="details">
    <div class="detail--active"></div>
    <div class="detail detail--linux">{% include index_linux.html %}</div>
    <div class="detail detail--windows">{% include index_windows.html %}</div>
    <div class="detail detail--macos">{% include index_macos.html %}</div>
    <div class="detail detail--redox">{% include index_redox.html %}</div>
  </section>
  <section class="docs">
    <article>
      <h2>Libraries</h2>
      <ul>
        <li>Rust: <a href="https://github.com/dirs-dev/directories-rs">dirs-dev/directories-rs</a> <a href="https://github.com/dirs-dev/dirs-rs">dirs-dev/dirs-rs</a></li>
        <li>Java: <a href="https://github.com/dirs-dev/directories-jvm">dirs-dev/directories-jvm</a></li>
      </ul>
    </article>
  </section>
