---
layout: default
---

<!DOCTYPE html>
<html lang="en">
	{% include head.html %}
	<body>
		<nav id="about">
			<ul>
				<li>Contribute</li>
				<li>About</li>
			</ul>
		</nav>
		<section id="intro">
			<h1>A&nbsp;Practical&nbsp;Guide to&nbsp;Standard&nbsp;Directories for&nbsp;Software&nbsp;Developers</h1>
		</section>
		<section id="guide">
			<article>
				<h2>Applications should be good citizens on the platforms they run on.</h2>
				<p>This means following the operating systems' rules regarding the location of configuration, cache files and other application data.</p>
				<p>This means following the operating systems' rules regarding the location of configuration, cache files and other application data.</p>
				<p>This means following the operating systems' rules regarding the location of configuration, cache files and other application data.</p>
				<p>This means following the operating systems' rules regarding the location of configuration, cache files and other application data.</p>
			</article>
		</section>
		<div id="linux" class="platform"><p>Linux</p></div>
		<div id="windows" class="platform"><p>Windows</p></div>
		<div id="macos" class="platform"><p>macOS</p></div>
		<div id="redox" class="platform"><p>Redox</p></div>
		<section id="docs">
			<article>
				<h2>Libraries</h2>
				<p>bla bla bla</p>
			</article>
		</section>
	</body>
</html>
