---
layout: default
---

<!DOCTYPE html>
<html lang="en">
	{% include head.html %}
	<body>
		<nav class="about">
			<ul>
				<li>Contribute</li>
				<li>About</li>
			</ul>
		</nav>
		<section class="intro">
			<h1>A&nbsp;Practical&nbsp;Guide to&nbsp;Standard&nbsp;Directories for&nbsp;Software&nbsp;Developers</h1>
		</section>
		<section class="guide">
			<article>
				<h2>Applications should be good citizens on the platforms they run on.</h2>
				<p>This means following the operating systems' rules regarding the location of configuration, cache files and other application data.</p>
				<p>...</p>
				<p>...</p>
				<p>...</p>
			</article>
		</section>
		<div class="platform linux"><p>Linux</p></div>
		<div class="platform windows"><p>Windows</p></div>
		<div class="platform macos"><p>macOS</p></div>
		<div class="platform redox"><p>Redox</p></div>
		<!--<div class="details"></div>-->
		<section class="docs">
			<article>
				<h2>Libraries</h2>
				<p>bla bla bla</p>
			</article>
		</section>
	</body>
</html>
